<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="../static/img/logo.png.jpg">
        <title>Recommendation System - MEIFA</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="#page-top">MEIFA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#program">Gunakan Program</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">|</a></li>
                        <li class="nav-item"><a class="nav-link" href="#MEIFA">About Our Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Recommendation System Program Studi</h1>
                    <h2 class="masthead-subheading mb-0">By MEIFA</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#program">Gunakan Program</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/soshum.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Jurusan SOSHUM</h2>
                            <p>Sosial humaniora atau Soshum merupakan  jurusan yang cukup banyak peminatnya. Banyak juga anak-anak yang mengambil jurusan IPA/MIPA saat di SMA kemudian beralih kejurusan Kuliah IPS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/Pendidikan.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Jurusan Ilmu Pendidikan</h2>
                            <p>Jurusan Ilmu pendidikan dan pelatihan tentunya cocok banget buat kamu yang mempunyai cita-cita untuk mengajar atau mendidik generasi penerus bangsa. Jurusan yang berada dalam fakultas pendidikan dan keguruan adalah jawabanya.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/lab.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Ilmu Pengetahuan Alam dan Matematika (MIPA)</h2>
                            <p>Bidang ilmu pengetahuan alam dan matematika merupakan sebuah bidang ilmu yang mempelajari tanda-tanda dan fenomena di alam semesta. Kamu akan belajar ilmu Matematika dan Sains di jurusan ini.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/komp.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Jurusan Komputer atau Informatika</h2>
                            <p>Bagi kamu yang tertarik dengan komputer cocok banget masuk jurusan ini, kamu akan belajar berbagai hal tentang komputer dan hasil terkait lainnya. Dalam jurusan informatika ini hal yang biasa di pelajari biasanya seputar dengan pembuatan aplikasi, pengembangan aplikasi, jaringan komputer, database, penerapan sistem komputer,dll.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/dokter.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Jurusan Kedokteran dan Kesehatan</h2>
                            <p>Jurusana Ilmu Kedokteran dan Kesehatan ini sangat cocok bagi kalian yang suka dalam bidang kesehatan. Biasanya orang yang belajar  ilmu kedokteran adalah orang-orang yang pekerja keras dan teliti. Mengapa demikian? Karena pekerjaan yang akan dilakukan akan berkaitan dengan nyawa sesorang. Jurusan Kedokteran dan Kesehatan ini cukup banyak di minati oleh banyak orang. Kebanyakan orang yang pernah belajar dalam bidang keilmuan ini menyatakan bahwa ketika berkuliah membutuhkan kemampuan menghafal dan mengingat  yang baik, serta tidak memiliki rasa takut dan jiji.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/hukum2.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Jurusan Hukum</h2>
                            <p>Jurusan Hukum merupakan jurusan yang termasuk fakultas yang di gemari nyaris setiap kampus di Indonesia sama halnya dengan Jurusan Kedokteran dan Kesehatan. Untuk jurusan hukum mengapa banyak di minati oleh banyak orang di setiap fakultas di Indonesia? Karena kebanyakan perusahaan maupun organisasi membuthkan sebagaian besar lulusan fakultas ini.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/Seni.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Jurusan Seni dan Desain</h2>
                            <p>Untuk kamu yang hobi dengan seni cocok banget memilih jurusan seni dan desain. Hidup kamu akan benar-benar berwarna jika kamu bergabung dalam fakultas kesenian. Mengapa demikian? Karena ketika kalian memilih jurusan seni dan desain setiap aktifitas perkuliahan seni dan desain kamu akan dipaksi untuk mengeluarkan segala daya kreatifitas kamu. Diawali dengan berimajinasi, berkreasi dan mengaktualisasikan dengan bentuk berbagai aktifitas seperti drama, menari, melukis dan sebagainya.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <p class="display-6 text-center">Program Recommender System</p>
        <div class="container-fluid my-5" id="program">
            <div class="mx-5">
              <div class="row gx-5">
                <div class="p-5 col-8 card" style="background-color: #e9e8e8;">
                    <H2 class="text-center">Silahkan Isi Form</H1>
                        <br>
                  <form action="/predict#program" method="post">

                    <label for="MTK_IPA">Nilai Matematika Anda</label>
                    <select class="form-select mb-3" name="MTK_IPA" id="MTK_IPA" required>
                      <option value="" selected disabled>Nilai dibulatkan saja</option>
                      <option value="1">100</option>
                      <option value="2">90</option>
                      <option value="0">80</option>
                      <option value="3">70</option>
                      <option value="4">60</option>
                      <option value="5">Kecil dari 50</option>
                    </select>

                    <label for="Indo_IPA">Nilai Bahasa Indonesia Anda</label>
                    <select class="form-select mb-3" name="Indo_IPA" id="Indo_IPA" required>
                      <option value="" selected disabled>Nilai dibulatkan saja</option>
                      <option value="1">100</option>
                      <option value="2">90</option>
                      <option value="0">80</option>
                      <option value="3">70</option>
                      <option value="4">60</option>
                      <option value="5">Kecil dari 50</option>
                    </select>

                    <label for="Eng_IPA">Nilai Bahasa Inggris Anda</label>
                    <select class="form-select mb-3" name="Eng_IPA" id="Eng_IPA" required>
                      <option value="" selected disabled>Nilai dibulatkan saja</option>
                      <option value="1">100</option>
                      <option value="2">90</option>
                      <option value="0">80</option>
                      <option value="3">70</option>
                      <option value="4">60</option>
                      <option value="5">Kecil dari 50</option>
                    </select>
        
                    <label for="Biologi_IPA">Nilai Biologi Anda</label>
                    <select class="form-select mb-3" name="Biologi_IPA" id="Biologi_IPA" required>
                      <option value="" selected disabled>Nilai dibulatkan saja</option>
                      <option value="1">100</option>
                      <option value="2">90</option>
                      <option value="0">80</option>
                      <option value="3">70</option>
                      <option value="4">60</option>
                      <option value="5">Kecil dari 50</option>
                    </select>
        
                    <label for="Kimia_IPA">Nilai Kimia Anda</label>
                    <select class="form-select mb-3" name="Kimia_IPA" id="Kimia_IPA" required>
                      <option value="" selected disabled>Nilai dibulatkan saja</option>
                      <option value="1">100</option>
                      <option value="2">90</option>
                      <option value="0">80</option>
                      <option value="3">70</option>
                      <option value="4">60</option>
                      <option value="5">Kecil dari 50</option>
                    </select>

                    <label for="Fisika_IPA">Nilai Fisika Anda</label>
                    <select class="form-select mb-3" name="Fisika_IPA" id="Fisika_IPA" required>
                      <option value="" selected disabled>Nilai dibulatkan saja</option>
                      <option value="1">100</option>
                      <option value="2">90</option>
                      <option value="0">80</option>
                      <option value="3">70</option>
                      <option value="4">60</option>
                      <option value="5">Kecil dari 50</option>
                    </select>

                    <label for="MataPelajaranDisukai_IPA">Mata Pelajaran Anda</label>
                    <select class="form-select mb-3" name="MataPelajaranDisukai_IPA" id="MataPelajaranDisukai_IPA" required>
                      <option value="" selected disabled>Pilih salah satu</option>
                      <option value="0">Matematika</option>
                      <option value="1">Bahasa Indonesia</option>
                      <option value="2">Bahasa Inggris</option>
                      <option value="3">Biologi</option>
                      <option value="0">Fisika</option>
                      <option value="1">Kimia</option>
                      <option value="1">Lainnya</option>
                    </select>

                    <label for="Hobi_IPA">Hobi Anda</label>
                    <select class="form-select mb-3" name="Hobi_IPA" id="Hobi_IPA" required>
                      <option value="" selected disabled>Pilih salah satu</option>
                      <option value="0">Gaming</option>
                      <option value="1">Bernyanyi</option>
                      <option value="2">Membaca</option>
                      <option value="3">Olahraga</option>
                      <option value="0">Seni</option>
                      <option value="1">Memasak</option>
                      <option value="2">Menari</option>
                      <option value="3">Travelling</option>
                      <option value="2">Lainnya</option>
                    </select>

                    <label for="Skill_IPA">Skill Anda</label>
                    <select class="form-select mb-3" name="Skill_IPA" id="Skill_IPA" required>
                      <option value="" selected disabled>Pilih salah satu</option>
                      <option value="0">Bahasa Pemograman</option>
                      <option value="1">Public Speaking</option>
                      <option value="2">Keahlian Akuntansi</option>
                      <option value="3">Kemampuan Marketing</option>
                      <option value="0">Operasi Mesin</option>
                      <option value="0">Desain Grafis</option>
                      <option value="0">Microsoft Office</option>
                      <option value="1">Lainnya</option>
                    </select>

                    <label for="Cita2_IPA">Cita - Cita Anda</label>
                    <select class="form-select mb-3" name="Cita2_IPA" id="Cita2_IPA" required>
                      <option value="" selected disabled>Pilih salah satu</option>
                      <option value="0">Programmer</option>
                      <option value="1">Hakim</option>
                      <option value="2">Guru</option>
                      <option value="3">Dokter</option>
                      <option value="0">Desainer</option>
                      <option value="0">Arsitek</option>
                      <option value="2">Lainnya</option>
                    </select>
        
                    <div class="d-flex justify-content-end mt-5">
                      <button type="submit" class="btn btn-primary">Prediksi</button>
                    </div>
                  </form>
                </div>
                <div class="col-4 pt-5 px-2 card gx-3" style="background-color: #c8ced0;">
                    <h3 class="text-center">Rekomendasi Jurusan yang sesuai</h2>
                      {% if hasil %}
                      <br>
                      <p class="text-center">Anda cocok di jurusan berikut :<span class="fw-bold"><br>{{hasil}}</span></p>
                      <br>
                      <p class="text-center">Terima Kasih Sudah Menggunakan Program Kami</p>
                      {% endif %}
                  </div>
              </div>
            </div>
        </div>
              <br><br><br>

    <div class="container">
    <div class="row text-center">
        <p class="display-6" id="MEIFA">Salam Kami Kelompok 3 (MEIFA)</p>
        
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../static/img/Armando2.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Armando Mulana Putra</h5><span class="small text-uppercase text-muted">Problem Scoping</span>

                </ul>
            </div>
        </div>
        
        
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../static/img/Erina.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Erina Sari Sirait</h5><span class="small text-uppercase text-muted">Data Akusisi</span>



                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../static/img/Profile2.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Fitra Ramadhan</h5><span class="small text-uppercase text-muted">Deployment</span>

                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5"></div>
        
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../static/img/Indah.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Indah Permata Sari Situmorang</h5><span class="small text-uppercase text-muted">Visualisasi Data</span>

                </ul>
            </div>
        </div>

        
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../static/img/Mila.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Mila Delvana</h5><span class="small text-uppercase text-muted">Model Evaluation</span>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5"></div>
    </div>
      </div>

        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; By MEIFA</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
        <script src="https://kit.fontawesome.com/f9a202ba19.js" crossorigin="anonymous"></script>
    </body>
</html>
